version: '3'
services:

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy

  db:
    build: db/.
    ports:
      - "33060:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: world

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
