name: A workflow for the Population App

on: push

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Unit Tests
        run: mvn --batch-mode test -Dsurefire.printSummary=true

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          directory: ./target/site/jacoco
          flags: UnitTests
          verbose: true

  IntegrationTests:
    name: Integration Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Integration Tests with Docker
        run: |
          docker build -t database ./db
          docker run --name db -dp 33060:3306 database
          mvn --batch-mode -Dtest=com.napier.sem.PopulationAppIntegrationTest test -Dsurefire.printSummary=true
          docker stop db
          docker rm db
          docker image rm database

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          directory: ./target/site/jacoco
          flags: IntegrationTests
          verbose: true

  Build:
    name: Build and Deploy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Package and Run Docker Compose
        run: |
          mvn --batch-mode package -DskipTests
          docker compose up --abort-on-container-exit

      - name: Create GitHub Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
